---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'John Pitney\'s Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <p>
      Hi, I'm John Pitney, a software developer in St. Louis, Missouri, USA.
    </p>
    <ul>
			{allPosts
        .sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate))
        .map((post) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate} />)}
    </ul>
</BaseLayout>
