---
const { platform, username } = Astro.props;
const path = platform === 'LinkedIn' ? `in/${username}` : username;
---
<a href={`https://www.${platform}.com/${path}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
